* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html,
  body {
    min-height: 11vh;
  }

  footer {
    display: inline-block;
    position: static;
    width: 100%;
    padding-top: 40px;
    bottom: 0;
    background-color: #d8cbbb;
  }

 